scrapper.localhost {
	reverse_proxy scrapper:3000

	# https://caddyserver.com/docs/v2-upgrade#basicauth
	basicauth {
		# The password is 'pass'. It is highly recommended to change this password!
		# You must hash it, and the 'caddy hash-password' command can help with that.
		# https://caddyserver.com/docs/command-line#caddy-hash-password
		user $2a$14$64bzJLzjPVvRbGLady9HhOlDw0qEtz43F3HMKGrJsfDcNZ2cNDH1S
	}
}
